{% extends 'excels/index.html' %}

{% block title %}Excels{% endblock %}

{% block content %}
    <div>
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'excels:create_excel' %}">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="mb-3 col-lg-6">
                    <label for="header_row_num" class="form-label">Header Number</label>
                    <input type="number" class="form-control" id="header_row_num" name="header_row_num" placeholder="0" value="0" />
                  </div>

                <div class="mb-3 col-lg-6">
                    <label for="excelFileInput" class="form-label">Upload Excel</label>
                    <input type="file" class="form-control" name="excel_file" id="excelFileInput" accept=".xlsx, .xls">
                  </div>
                  
            </div>
              <div id="columnCheckboxes"></div>

              <div class="mt-4 d-flex justify-content-center align-items-center">
                <button type="reset"id="resetForm" class="btn btn-small btn-danger mr-3" onclick="document.getElementById('columnCheckboxes').innerHTML= '';document.getElementById('formDownlaod').style.display= 'none';"> Reset </button>
                <button type="submit"id="formDownlaod" class="btn btn-small btn-primary" style="display: none;"> Download Excel </button>
              </div>
            
        </form>
    </div>



    <script>
        document.getElementById('excelFileInput').addEventListener('change', function() {
            var formData = new FormData();
            var fileInput = document.getElementById('excelFileInput').files[0];
            var header_row_num = document.getElementById('header_row_num').value;
            formData.append('excel_file', fileInput);
            formData.append('header_row_num', header_row_num);
            
            // Send the file data to the server-side view using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'excels:upload_excel' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = function() {

                if (xhr.status == 200) {
                    var columnNames = JSON.parse(xhr.responseText).column_names;
                    var headerColumn = JSON.parse(xhr.responseText).header_column;

                    var columnCheckboxesDiv = document.getElementById('columnCheckboxes');
                    columnCheckboxesDiv.innerHTML = ''; // Clear previous checkboxes
                    
                    //
                    var headdingdiv = document.createElement('h6');
                    headdingdiv.innerHTML = 'Select Column';

                    var divRowWrapper = document.createElement('div');
                    divRowWrapper.className = 'row';

                    columnCheckboxesDiv.appendChild(headdingdiv);
                    columnCheckboxesDiv.appendChild(divRowWrapper);

                    let count = 0;

                    // Create checkboxes for each column name
                    columnNames.forEach(function(columnName) {

                        // Create a div to wr   ap the checkbox and label
                        var wrapperDiv = document.createElement('div');
                        wrapperDiv.className = 'form-control col-lg-6 ps-5';


                        // create checkbox dynamic
                        var checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.name = 'selected_columns';
                        checkbox.value = columnName;
                        checkbox.className =" form-check-input";
                        checkbox.id = 'checkbox_' + count;
                        checkbox.setAttribute('dataIndex', count);
                        checkbox.onclick = function() { 
                            var dataIndex = this.getAttribute('dataIndex');
                            toggleSelect(dataIndex); 
                        };

                        // create label dynamic
                        var label = document.createElement('label');
                        label.htmlFor = 'checkbox_' + count;
                        label.appendChild(document.createTextNode(columnName));


                        // Create the select box
                        var selectBox = document.createElement('select');
                        selectBox.id = 'headerSelectBox_'+count;
                        selectBox.className = 'ml-5 form-select';
                        selectBox.name = 'mapped_column';
                        selectBox.disabled = true;

                        // Add options to the select box
                        headerColumn.forEach(function(header) {
                            var option = document.createElement('option');
                            option.value = header;
                            option.text = header;
                            selectBox.appendChild(option);
                        });

                        // Append the checkbox and label to the wrapper div
                        wrapperDiv.appendChild(checkbox);
                        wrapperDiv.appendChild(label);
                        wrapperDiv.appendChild(selectBox);

                        divRowWrapper.appendChild(wrapperDiv);
                        // columnCheckboxesDiv.appendChild(label);
                        // columnCheckboxesDiv.appendChild(document.createElement('br'));

                        count++;

                    });

                    document.getElementById('formDownlaod').style.display="flex";
                    console.log('file upload sucess');
                } else {
                    console.log('file upload fail');
                }
            };
            xhr.send(formData);
        });


        // refresh form every time
        window.addEventListener('load', function() {
            document.getElementById('uploadForm').reset();
        });


        // toggler
        function toggleSelect(counter){
            var selectBox = document.getElementById('headerSelectBox_' + counter);
            selectBox.disabled = !selectBox.disabled;
        }
    </script>
{% endblock %}
