{% extends 'excels/index.html' %}

{% block title %}Excels{% endblock %}

{% block content %}
    <div class="container">
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'excels:create_excel' %}">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="mb-3 col-lg-6">
                    <label for="header_row_num" class="form-label">Header Number</label>
                    <input type="number" class="form-control" id="header_row_num" name="header_row_num" placeholder="0" value="0" />
                  </div>

                <div class="mb-3 col-lg-6">
                    <label for="excelFileInput" class="form-label">Upload Excel</label>
                    <input type="file" class="form-control" name="excel_file" id="excelFileInput" accept=".xlsx, .xls">
                </div>

                <div class="mb-3 col-lg-12" id="mergedForm">
                </div>
                </div>

                <div id="narationDiv" style="display: none;">
                    <input type="hidden" id="insured_name">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="narationDate" class="form-label">Naration Date</label>
                            <input type="text" class="form-control" name="narationDate" id="narationDate" onblur="fullNaration()">
                          </div>
                          <div class="col-lg-6 mb-3">
                            <label for="narationAmount" class="form-label">Naration Amount</label>
                            <input type="text" class="form-control" id="narationAmount" name="narationAmount" onblur="fullNaration()">
                          </div>
                          <p id="fullNaration" style="color: blue;"></p>
                        </div>

                    <div class="row">
                        <div class="input-group mb-3 col-lg-3">
                            <div class="input-group-text" style="padding: .375rem 1rem !important;">
                              <input class="form-check-input mt-0" style="margin-left: -7px !important;" type="checkbox" id="cgst_checkbox" name="cgst_checkbox" value="cgst_check" onclick="fullNaration();">
                            </div>
                            <input type="text" class="form-control" id="cgst_input" name="cgst_input"  aria-label="Text input with checkbox" placeholder="CGST">
                        </div>
                        <div class="input-group mb-3 col-lg-3">
                            <div class="input-group-text" style="padding: .375rem 1rem !important;">
                              <input class="form-check-input mt-0" style="margin-left: -7px !important;" type="checkbox" id="sgst_checkbox" name="sgst_checkbox" value="sgst_check" onclick="fullNaration();">
                            </div>
                            <input type="text" class="form-control" id="sgst_input" name="sgst_input" aria-label="Text input with checkbox" placeholder="SGST">
                        </div>
                        <div class="input-group mb-3 col-lg-3">
                            <div class="input-group-text" style="padding: .375rem 1rem !important;">
                              <input class="form-check-input mt-0" style="margin-left: -7px !important;" type="checkbox" value="tds_check" id="tds_checkbox" name="tds_checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" id="tds_input" name="tds_input" aria-label="Text input with checkbox" placeholder="TDS">
                        </div>
                        <div class="input-group mb-3 col-lg-3">
                            <div class="input-group-text" style="padding: .375rem 1rem !important;">
                              <input class="form-check-input mt-0" style="margin-left: -7px !important;" type="checkbox" id="gst_tds_checkbox" name="gst_tds_checkbox" value="gst_tds_check" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" id="gst_tds_input" name="gst_tds_input" aria-label="Text input with checkbox" placeholder="GST TDS">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-12 mb-3">
                            <label for="narationAmount" class="form-label">NTP.1</label>
                            <input type="text" class="form-control" id="ntp_one" name="ntp_one">
                        </div>
                    </div>
                </div>
                

              <div id="columnCheckboxes"></div>

              <div class="mt-4 d-flex justify-content-center align-items-center">
                <button type="reset"id="resetForm" class="btn btn-small btn-danger mr-3" onclick="resetFunc();"> Reset </button>
                <button type="submit"id="formDownlaod" class="btn btn-small btn-primary" style="display: none;"> Download Excel </button>
              </div>
            
        </form>
    </div>



    <script>
        document.getElementById('excelFileInput').addEventListener('change', function() {
            var formData = new FormData();
            var fileInput = document.getElementById('excelFileInput').files[0];
            var header_row_num = document.getElementById('header_row_num').value;
            formData.append('excel_file', fileInput);
            formData.append('header_row_num', header_row_num);
            
            // Send the file data to the server-side view using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'excels:upload_excel' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = function() {

                if (xhr.status == 200) {
                    var columnNames = JSON.parse(xhr.responseText).column_names;
                    var headerColumn = JSON.parse(xhr.responseText).header_column;
                    var insuranceData = JSON.parse(xhr.responseText).insurance_data;

                     // Create the select box insurance start here
                    const selectBoxInsurance = document.createElement('select');
                    selectBoxInsurance.id = 'insurance_id';
                    selectBoxInsurance.className = 'form-control';
                    selectBoxInsurance.name = 'insurance_id';
                    selectBoxInsurance.onchange = function (){
                        document.getElementById('insured_name').value = this.options[this.selectedIndex].text;
                        fullNaration();
                    }

                    insuranceData.forEach(function(insuranceData) {
                            var option = document.createElement('option');
                            option.value = insuranceData['insurance_id'];
                            option.text = insuranceData['insurance_name'];
                            selectBoxInsurance.appendChild(option);
                    });

                    // create label dynamic
                    var labelSelect = document.createElement('label');
                        labelSelect.htmlFor = 'insurance_name';
                        labelSelect.id="insurance_data_name";
                        labelSelect.appendChild(document.createTextNode(selectBoxInsurance));

                    document.getElementById('mergedForm').append(selectBoxInsurance);   
                    // document.getElementById('insurance_data_name').innerHTML="Select Insurance Name";
                    // Create the select box insurance end here

                    

                    // console.log(insuranceData);

                    var columnCheckboxesDiv = document.getElementById('columnCheckboxes');
                    columnCheckboxesDiv.innerHTML = ''; // Clear previous checkboxes
                    
                    //
                    var headdingdiv = document.createElement('h6');
                    headdingdiv.innerHTML = 'Select Column';

                    var divRowWrapper = document.createElement('div');
                    divRowWrapper.className = 'row';

                    columnCheckboxesDiv.appendChild(headdingdiv);
                    columnCheckboxesDiv.appendChild(divRowWrapper);

                    let count = 0;

                    // Create checkboxes for each column name
                    columnNames.forEach(function(columnName) {

                        // Create a div to wr   ap the checkbox and label
                        var wrapperDiv = document.createElement('div');
                        wrapperDiv.className = 'form-control col-lg-6 ps-5';


                        // create checkbox dynamic
                        var checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.name = 'selected_columns';
                        checkbox.value = columnName;
                        checkbox.className =" form-check-input";
                        checkbox.id = 'checkbox_' + count;
                        checkbox.setAttribute('dataIndex', count);
                        checkbox.onclick = function() { 
                            var dataIndex = this.getAttribute('dataIndex');
                            toggleSelect(dataIndex); 
                        };

                        // create label dynamic
                        var label = document.createElement('label');
                        label.htmlFor = 'checkbox_' + count;
                        label.appendChild(document.createTextNode(columnName));


                        // Create the select box
                        var selectBox = document.createElement('select');
                        selectBox.id = 'headerSelectBox_'+count;
                        selectBox.className = 'ml-5 form-select';
                        selectBox.name = 'mapped_column';
                        selectBox.disabled = true;

                        // Add options to the select box
                        headerColumn.forEach(function(header) {
                            var option = document.createElement('option');
                            option.value = header;
                            option.text = header;
                            selectBox.appendChild(option);
                        });

                        // Append the checkbox and label to the wrapper div
                        wrapperDiv.appendChild(checkbox);
                        wrapperDiv.appendChild(label);
                        wrapperDiv.appendChild(selectBox);

                        divRowWrapper.appendChild(wrapperDiv);
                        // columnCheckboxesDiv.appendChild(label);
                        // columnCheckboxesDiv.appendChild(document.createElement('br'));

                        count++;

                    });

                    document.getElementById('formDownlaod').style.display="flex";
                    document.getElementById('narationDiv').style.display="block";
                    console.log('file upload sucess');
                } else {
                    console.log('file upload fail');
                }
            };
            xhr.send(formData);
        });


        // refresh form every time
        window.addEventListener('load', function() {
            document.getElementById('uploadForm').reset();
        });


        // toggler
        function toggleSelect(counter){
            var selectBox = document.getElementById('headerSelectBox_' + counter);
            selectBox.disabled = !selectBox.disabled;
        }


        function resetFunc(){
            document.getElementById('columnCheckboxes').innerHTML= '';
            document.getElementById('mergedForm').innerHTML= '';
            document.getElementById('formDownlaod').style.display= 'none';
        }



        function fullNaration(){
            let narationDate = document.getElementById('narationDate').value;
            let narationAmount = document.getElementById('narationAmount').value;
            let insurance_id = document.getElementById('insured_name').value != '' ? document.getElementById('insured_name').value : document.getElementById('insurance_id').options[0].text;
            var gst_or_not;

            if(document.getElementById('cgst_checkbox').checked == true || document.getElementById('sgst_checkbox').checked == true){
                gst_or_not = 'with GST 18%';
            }else{
                gst_or_not = 'without GST';
            }

            document.getElementById('fullNaration').innerHTML = `BNG NEFT DT-${narationDate} rcvd towards brkg ${narationAmount} from ${insurance_id} ${gst_or_not}`;
        }
        
    </script>
{% endblock %}
